/*
Iniciar servicio de sass

vamos a la ruta donde estan los archivos scss y css

sass --watch nombreArchivoSass.scss:nombreArchivoCss.css

y enter, ahora todo lo que modifique en el sass se moficara en el css

*/


/*Ciclo for each , y la iteracion es hasta que acabe de recorrer las fuentes*/
@each $font-face in 'BebasNeue','Socialico'{
    @font-face{
        font-family: $font-face;
        font-style: normal;
        font-weight: normal;
        src:url('../font/#{$font-face}.eot');/*concateno en la ruta por los nombres de las variables de arriba*/
        src:url('../font/#{$font-face}.otf');
        src:url('../font/#{$font-face}.ttf');
    }
}


/*Mixin, es una regla que se aplica, y recibe aprametros*/
/*Cuando no le pasamos por paraemtro nada, podemos asiganrle un valor por defecto*/
@mixin efectoEncabezado($grados,$color : 'red'){
    content: "";   
    position: absolute;
    z-index: -1; /*z-index: profundidad o sobre quien se soperpondra*/
    top: 0;
    height: 100%;
    width: 50%;
    background-color: unquote($color);  /*Le paso una variable*/

    -webkit-transform:skew(0deg,unquote($grados+'deg'));
}

// variable de color
$blue: #3e87cc;


html , body{
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%; /*Ni el html ni el body puede ser mas gran que el ancho de la pantalla*/
}


.calling{
    font-family:'Calligraffitti', cursive;
}


section#cuartos{
    position: relative;/* lo ponemos relativo para que el cirucolo al ponerlo adsolute se posicione con respecto a este padre y no al body*/
}

/*circulo entre las imagenes con filtros*/
.centerCircle{
    position: absolute;
    left: 40%;
    left:-webkit-calc(50%-100px); // de esta forma podemos haces el calculo para que siempre se acomode al centro

    z-index: 5;
    height: 100px;
    width: 100px;
    padding: 50px;
    padding-bottom: 60px;
    background-color: rgba(0,0,0,0.7);
    color: #f7f7f7;
    text-align: center;
    border-radius: 100%;
    font-size: 1.8em;
    top: 20%;
    border: 10px double white;
}

.fullScreen{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;/*Que se quede fijo el background para realziar scrroll */
}


/*Apartado de precios y costos*/
#costos{
    background-image: url("../img/DSCN1332.jpg");
    background-size: 100% auto; // 100% de ancho
    // automatico el ancho , es decir toma el de la imagen
    .precio{
        width: 28%;
        margin-left: 3.5%;
        display: inline-block;
        background-color: #f7f7f7;
        vertical-align: top;/*toma como centro vertical el top*/
        padding: 2em 0.5%;
        text-align:center;
        padding-top: 0;
        border: solid 1px #ccc;
        h3{
            font-size: 2em;
            color: $blue;
        }
        .costo{
            background-color: $blue;
            color: #fff;
            font-size: 1.5em;
            width: 50%;
            margin: 0 auto;
            padding: 0.5em;
            margin-bottom: 20px;
        }
        .ver-mas{
            text-decoration:none;
            color: $blue;
            font-weight: bold;
            cursor: pointer;
        }

    }
}
.marginTop{
    width: 80%;
    margin: 0 auto;
    padding-top: 7em;
}
.ribbon{
    width: 117%;
    position: relative;
    left: -25px;
    top: 20px;
    height: 50px;
    background: url("../img/ribbon.png");
    background-size: 100% 100%; // va cubrir se va a daptar al tamaño de su padre
}
#regresar-ventana{
    display: block;
    margin-top: 10px;
    cursor: pointer;
    color: $blue;
    font-weight: bold;
}




.half{
    display: inline-block;
    margin-right: -4px;
    width: 50%;
    vertical-align: top;
}

.halfRooms{
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    img{
        width: 100%;
        -webkit-filter: grayscale(1)  blur(5px);;
        transition: all 0.4s;

        /* con el & selecciona al padre contenedor en este caso a la img*/
        &:hover{
            -webkit-filter:  grayscale(0.2) blur(0px);
            transition: all 0.4s;

        }
    }
}


/*El orden o jeraquie debe concordar con el HTML*/
header{
    position: fixed;/*Fijamos en el techo el header*/
    width: 100%;
    top: -9em;
    text-align: center;
    transition: all 0.4s;
    z-index: 10000;

    &:hover{
        transition: all 0.4s;
        top:-6em;

    }

    /*& es como this tomando al padre de la cadena*/
    &:before{/*:before es un seudolemeneto*/

        left: 0;
        @include efectoEncabezado(5,'#000');/*Llamando al mixin o funcion y le paso por parametro*/

    }

    &:after{

        right: 0;
        @include efectoEncabezado(-5,'#000');/*Llamando al mixin o funcion y le paso por parametro los valores*/
    }

    nav ul{
        margin: 0;
        padding-bottom: 1em;

        li{
            display: inline-block;
            list-style: none;
            padding: 0 10px; /*0 en y y en Y 10px*/
            font-family:'Calligraffitti', cursive;
        }

        a{
            color: #f7f7f7;
            font-weight: bold;
            text-decoration: none;
        }
    }

    #logo{
        background-color: #000;
        position: relative;
        width: 15%;
        text-align: center;
        /*max y min limitan com ose debera mostrar la pagina para que no excede el viwport ni peueño ni grande*/
        min-width: 100px;
        max-width: 100%;
        left: 43%;
        height: 100px;
        top: 140px;
        z-index:5;
        border-radius:5em 0;
        img{
            margin-top: -20px; /*para subirlo*/
            width: 100px;
        }
    }

}




/*Mensaje con imagenes*/
.mensajePrincipal{
    width: 40%; 
    padding-top: 10%;
    color: #f7f7f7;
    position: relative;
    h2{
        color: #ededed;
        font-size: 3em;
        text-shadow: 0px 0px 100px #000;
        /*
        1 . distancia en x
        2 . distancia en y
        3. desenfoque o blur
        4 . color
        */
    }

    /*triangulo con texto*/
    .triangle{
        width: 0;
        height: 0;
        opacity: 0.7; /*opaca el color similar al rgba*/
        /*formando el triangulo*/
        border-top:100px solid transparent;
        border-bottom: 100px solid transparent;
        border-left: 200px solid #000;

        span{
            line-height: 2em;
            display:block;
            width: 130px;
            top: -2em;
            left: -180px;
            position: relative; /* para que top y left sean efectivas*/
        }

    }

    p{
        font-weight: bolder; /* grueso de letra*/
    }


}



/*Slide*/
div.slider-container{
    position: absolute;
    overflow: hidden; /*si el contenido del elemento se sobrepasa este lo escondera*/
    top: 0;
    left: 0;
    z-index: -2;
    background-color: #000;

    .slideContainer{
        white-space: nowrap;/*Hace que el texto se justifique a la derecha*/
        height: 100%;
        width: 3000px;
        .slide{
            display: inline-block;
            background-color: #fff;
            margin-right: -4px;
            vertical-align: top;/*se posicionen hacia arriba*/
            background-position: bottom;
        }
    }

}




/* Galeria de imagenes*/
#buffet{
    position: relative;
    background-color: black;
    .image_food{
        z-index: 20;
        position: absolute;
        right: 0;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        transition: all 1s ease-in;
        background-size: 100%;
        background-position: 50%;
        cursor: pointer;


    }
    .viewport{/*Imagen que aparece en grande en la pantalla*/
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px; // le quitamos el borde heredado
        transition: all 1s ease-in;
        cursor: auto;
    }
}

/* Contacto */
#contacto{
    background-image:url('../img/DSCN1218-movil.jpg');
    background-size: 100% auto;  /*100 % de acnoho y auto matico de alto*/
    text-align:center;
    color: #f7f7f7;
    .marginTop{
        padding-top: 7em;
    }

    .social{
        font-size: 4em;
        transition: all 0.4s;
        cursor: pointer;

        a{
            text-decoration: none;
            color: white;
            transition: all 0.4s;
            &:hover{
                color: $blue; 
                transition: all 0.4s;
            }
        }
    }

    p{
        font-size: 1.5em;
        color: #222;
        text-shadow: 0px 0px 2px #000;
        background-color: rgba(250,250,250,0.7);
        margin: 0;
    }
    h3{
        font-size: 2em;
        line-height: 1em;/* modifica el alto de la linea*/
        background-color: #f7f7f7;
        color: $blue;
        padding: 0.5em;
    }
}
.social{
    font-family: 'Socialico';
}

/*Google maps*/
#google_canvas{
    width: 100%;
    height: 400px;
    border: solid 5px #eee;
    box-shadow: 0px 0px 15px rgba(0,0,0,.8);
}


footer{
    position: absolute;
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'BebasNeue';
    text-align: center;
    h3{
        position: relative;
        margin-top: 1%;
        font-size: 2em;
    }   
}

/*********************************************************/
// mediaquierys para resposive


// la media query evalua que tipo de display se debe mostrar
// screen = smartphone table portatil
// all = todos
// tv = solo para tv
// operadores and not only

@media (max-width: 960px) {
    header{
        background-color: #000;
        &:hover nav ul{
            height: 130px;
            opacity: 1;
            transition:all 0.4s;
        }

        &:hover nav ul li{
            opacity: 1;
        }

        &:hover #logo{
            top: 300px;
        }

        nav ul li{
            opacity: 0;
            transition:all 0.7s;
        }
        
        #logo{
            padding: 1em;
            transition:all 0.4s;
        }

        &:active nav ul{
            height: 130px;
        }
        &:active nav ul li{
            opacity: 1;
        }
        &:active #logo{
            top: 300px;
        }


    }
    .fullScreen{
        min-height: 100%;
        height: auto;
    }
    #index
    {
        background: url(../img/DSCF0302-movil.jpg);
        background-size: auto 100%;
    } 
    #buffet{
        height: 100%;
        .image_food{
            background-size: auto 100%;
            background-position: top 50%;
        }
    }
    #contacto{
        background:url(../img/DSCN1218-movil.jpg);
        background-size: auto 100%;
    }
    #costos{
        background-size: auto 100%;
        background:url(../img/DSCN1332-movil.jpg);
        height: 100%;
        .precio{
            width: 45%;
            margin:0 auto;
        }
    }
    #go_up{
        display: none;
    }
    .img-principal{
        display: none;
    }
    .centerCircle{
        position: static;
        border-radius: 0px;
        max-width: 100%;
        top: 0px;
        width: 100%;
        height: auto;
        padding: 0;
        margin-top: 1em;
    }
    .half{
        display: block;
        width: 100%;
        top: 0px;
    }
    .slideContainer{
        display: none;
    }
}
@media (max-width: 600px) {
    .fullScreen:nth-of-type(1)
    {
        background: url(../img/intro-movil.jpg);
        background-size: auto 100%;
    } 
    .hidePhone{
        display: none;
    }
    .mensaje{
        margin-top: 0;
        font-size: 1em;
        padding: 0;
        width: 100%;
    }
    *{
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
    }
    #main,.down{
        width: 100%;
    }
    [class*="span"],
    .row-fluid [class*="span"] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .posts article{
        display: block;
        width: 100%;
    }
    #costos{
        height: auto;
    }
    #costos .precio{
        width: 100%;
        display: block;
        margin: 0;
    }
    header nav ul li{
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .slideContainer{
        display: none;
    }
}